body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: "Inter", system-ui;
}

.clear {
  * {
    box-sizing: border-box;
    outline: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.content {
  padding: 40px;
  h1 {
    margin: 0;
    padding: 40px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;
  .headerLeft {
    display: flex;
    align-items: center;
  }

  img {
    margin-right: 10px;
  }

  h3, p {
    margin: 0;
  }
}

.headerRight {
  display: flex;
}

.search-block {
  display: flex;
  align-items: center;

  position: relative;
  .clear {
    position: absolute;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    right: 0;
    cursor: pointer;
  }

  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;
  display: flex;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);;
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  right: 0;
  height: 100%;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .items {
    overflow: auto;
    margin-bottom: 40px;
  }

  h2 {
    margin: 0;
    font-size: 24px;
  }
}

.empty_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
  p {
    margin: 0 0 40px 0;
  }
  h3 {
    margin: 0 0 10px 0;
  }  
  
  .greenButton {
    position: relative;
    width: 245px;
    &:hover{
      img {
        transform: translateX(-10px);
      }
    }

    img {
      position: absolute;
      left: 30px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }

}

.items {
  flex: 1;

}

.cartLi {
  margin-right: 30px;
}

.cartTotalBlock {
  ul {
    margin-bottom: 30px;
  
  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  
  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed rgba(223, 223, 223, 1);
    position: relative;
    top: -4px;
    margin: 0 10px 0 10px;
  }
 }
}
  .greenButton {
    position: relative;
    font-size: 16px;
    &:hover{
      img {
        transform: translateX(10px);
      }
    }

    img {
      position: absolute;
      right: 50px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:hover {
    background-color: lighten(#9DD558, 7%);
  }
  &:active {
    background-color: darken(#9DD558, 7%);
  }
}

.cartItem {
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }
  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}